<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<log4net>
		<root>
			<level value="All"/>
			<appender-ref ref="file"/>
			<appender-ref ref="fatal-file"/>
		</root>
		<appender name="file" type="log4net.Appender.RollingFileAppender,log4net">
			<file type="log4net.Util.PatternString" value="C:\\PleoraEbusLog\\InformationLog\\log_.log" />
			<DatePattern value="yyyyMMdd_HH"/>
			<preserveLogFileNameExtension value="true" />
			<staticLogFileName value="false" />
			<appendToFile value="true"/>
			<rollingStyle value="Composite"/>
			<maxSizeRollBackups value="-1"/>
			<maximumFileSize value="10MB"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{HH:mm:ss} [%t] [%-5level] %c %15M - %m %n"/>
			</layout>
		</appender>
		<appender name="fatal-file" type="log4net.Appender.RollingFileAppender,log4net">
			<file type="log4net.Util.PatternString" value="C:\\PleoraEbusLog\\FatalErrorLog\\fatalLog_.log" />
			<DatePattern value="yyyyMMdd_HH"/>
			<preserveLogFileNameExtension value="true" />
			<staticLogFileName value="false" />
			<appendToFile value="true"/>
			<rollingStyle value="Composite"/>
			<maxSizeRollBackups value="-1"/>
			<maximumFileSize value="5MB"/>
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="ERROR" />
				<param name="LevelMax" value="FATAL" />
			</filter>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{HH:mm:ss} [%t] [%-5level] %c %15M - %m %n"/>
			</layout>
		</appender>
	</log4net>
</configuration>